[2022-04-21 23:38] #599 closed

[2022-04-22 00:22] #327 closed

[2022-04-22 00:34] lread opened #603 "AsciiDoc Lists Are Rendered Spacey"
## CommonMark Sample Looks OK:
![image](https://user-images.githubusercontent.com/967328/164572287-e750ea68-7bf4-4dff-8e37-9926dc90bf91.png)

## But AsciiDoc rendering is a bit spacey:
![image](https://user-images.githubusercontent.com/967328/164572426-be4be85e-2c3e-4a71-b82f-632d1e4400ef.png)

[2022-04-22 14:52] #603 closed

[2022-04-22 15:09] lread opened #605 "Style AsciiDoc rendered description, horizontal and q&a lists"
Content comes through, but we do not style these yet:

![image](https://user-images.githubusercontent.com/967328/164742052-5e124571-c13f-47aa-bd12-64f1a662fafb.png)

Not planning anything drastic, the generic asciidoc style sheet does this:
![image](https://user-images.githubusercontent.com/967328/164742407-5243ec47-8eb0-467e-9490-404fb7f6deac.png)

Which seems good enough.

[2022-04-22 15:12] lread opened #606 "Style AsciiDoc Rendered Quoted Text"
Here's what we do now:

![image](https://user-images.githubusercontent.com/967328/164742773-95e8bcbf-38d9-46d7-a4a2-2838a943835a.png)

CommonMark also supports quoted text, so we'll likely follow its left-bar styling:
![image](https://user-images.githubusercontent.com/967328/164742987-ae2f5800-9960-437f-9732-b78417576479.png)

[2022-04-22 15:18] lread opened #607 "Style AsciiDoc rendered Example Blocks"
What we do now:
![image](https://user-images.githubusercontent.com/967328/164743929-d12cbd5b-e60f-4283-b8c8-122551818ecf.png)

For inspiration what default asciidoctor styling does:
![image](https://user-images.githubusercontent.com/967328/164744077-2520dc5c-1639-428f-877f-74a3fe98c0a3.png)

I'm thinking no to the yellow, but the border seems like a good way to distinguish.

[2022-04-22 15:21] lread opened #608 "Style AsciiDoc rendered Sidebars"
What we do now:
![image](https://user-images.githubusercontent.com/967328/164744467-6ea61cf1-19f7-458e-8bc0-6e75be471ac1.png)

Default asciidoctor styling for inspiration:
![image](https://user-images.githubusercontent.com/967328/164744649-77eef660-bd5b-4593-b1b2-31fa7df6e433.png)

[2022-04-22 17:37] #606 closed

[2022-04-22 18:21] #608 closed

[2022-04-22 22:04] #605 closed

[2022-04-22 22:37] #607 closed

[2022-04-22 23:38] lread opened #613 "Render keybaord input element"
## I Just noticed that...

GitHub supports the `<kbd>` tag.

Example:
- this: `<kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Del</kbd>`
- becomes: <kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Del</kbd> to restart.

## So...
We will too.

For CommonMark this just means some styling.

AsciiDoc actually has a kbd macro, example: `kbd:[Ctrl+Shift+N]`
So we'll enable that.

This will also bring in adoc `btn:[OK]`

[2022-04-23 16:35] #613 closed

[2022-04-25 12:19] #592 closed

[2022-04-25 12:27] lread opened #617 "Consider indexing/searching img alt text in docset search"
I think that it would probably make sense to index any `alt` text on `img`s.

[2022-04-25 12:38] lread commented on #593
Might be ok as is? I guess we'll feel it out and get feedback over time.
Showing complete nesting might be too much?
I honestly don't know yet.

[2022-04-25 14:35] corasaurus-hex opened #619 "Add `npx tsc` check to build checks"
We should do type checks when doing builds. `npx tsc` works well for that. 😄

[2022-04-29 14:54] corasaurus-hex opened #620 "Datalevin fails to analyze"
Womp womp! Datalevin fails to analyze. Seems like a pretty popular project and it'd be nice if we could get it working.

https://app.circleci.com/pipelines/github/cljdoc/builder/31218/workflows/2f4e0bdc-b511-4bc2-803c-849d3985c8ee/jobs/47592

[2022-04-29 16:18] lread commented on #620
Hiya @corasaurus-hex, do you know if Datalevin is Clojure only?
The Clojure analysis seems to pass.

Because Datalevin has `.cljc` files our analyzer is assuming it is also ClojureScript and the ClojureScript analysis fails.

[2022-04-30 17:37] lread opened #621 "Update contributors in cljdoc README"
I noticed that our contributors section in our README has not gotten much attention for a while.

Got confused as to process of updating.

Chatted with Martin.

He's cool with [doing something along the lines of rewrite-clj](https://github.com/clj-commons/rewrite-clj#people) which is driven by a babashka script that updates the README.

[2022-05-04 17:37] lread opened #622 "dev: turf husky"
## Currently
We use an npm tool called husky to do a git pre-commit check.
This check runs a formatting check on our front-end source.
This check is repeated by CI.

## But...
When things go wrong (for example, I have enabled gpg signing for my commits and I've not quite got it right yet) husky is just another complexity to wonder about.

And when husky's commit check fails, it can be confusing wh

[2022-05-04 17:50] corasaurus-hex commented on #622
Yes, please! I really dislike husky (and all other forced git hooks). CI is a better place to catch this, for sure. Plus husky checks tent to make WIP commits really difficult to do, too.

[2022-05-04 17:51] corasaurus-hex commented on #622
And also they make waaaaay less sense in a multi-language repo. Like why are my Clojure changes triggering a bunch of js/ts checks?

[2022-05-04 18:03] lread commented on #622
Cool, glad you agree!

[2022-05-04 18:26] #622 closed

[2022-05-05 12:26] #621 closed

[2022-05-05 17:18] lread opened #626 "ci: move more lint work to lint job?"
## Currently
Our CI workflow has a "prettier" job.
It performs a JavaScript lint on our sources.

## So maybe...
Rename it to "lint" and move all lint-like work from the "build" job to this job?

- clj-kondo linting
- cljfmt format checks

I think this makes sense.
- more things can happen at once
- the mysterious "prettier" job gets a more meaningful name.

## Alternatively
We could just move Jav

[2022-05-05 18:03] corasaurus-hex commented on #626
I think having it as a separate step is useful in that you instantly know why the build failed.

But also it's not much work to click through and look at the build log and it would speed up CI for us.

I guess I like the idea of just adding it to the build step?

[2022-05-05 18:40] lread commented on #626
Oh, good point! Alternative 2:
- rename "prettier" job to "front-end-checks"
- add new "back-end-checks" job
  - move lint-ish steps from "build" to "back-end-checks"

It would be simpler, but shaving a minute off the total elapsed build time, seems attractive to me. I think I'm going to give a go.

Also has the advantage of failing slower to give more info.
"Ok, build failed, but it was just `bac

[2022-05-05 23:53] corasaurus-hex commented on #626
Oh, right, you can parallelize the steps!! I was thinking it all had to be sequential in which case it would be faster to not pay the overhead of a separate step. This sounds great, having front-end-checks and back-end-checks. ☺️

[2022-05-05 23:55] corasaurus-hex commented on #620
It seems to have some [code that supports cljs](https://github.com/juji-io/datalevin/blob/master/src/datalevin/lru.cljc#L5)...

[2022-05-06 00:01] corasaurus-hex commented on #620
Hmmm... I can't find a cljs release anywhere.

[2022-05-06 00:02] corasaurus-hex commented on #619
@lread we should add this to the front-end checks

[2022-05-06 00:02] lread commented on #620
But... it does generate its own API docs with codox, which seems to use [the default platform analysis (Clojure only)](https://github.com/juji-io/datalevin/blob/140e52cc11723152628175167de78a8026480f1f/project.clj#L92-L99).
Note: It uses some codox options we do not currently support.

In the past, I've pinged lib authors to gage interest in getting their docs to build on cljdoc. An easy sell, I w

[2022-05-06 00:06] lread commented on #626
I'm now wondering about CircleCI deps caching maybe being sub-optimal for parallel jobs.
Can always revert if it does not work out.

I'm going to also tease out a "package" job that is currently in "build".
It has thrown me for a loop in the past, so an explicit job might help with clarity.

[2022-05-06 00:07] lread commented on #619
Thanks, sounds good to me!

I'll get things teased out first and then come back to add this extra check in.

[2022-05-06 00:09] lread commented on #620
I can reach out on Slack to Datalevin team if you like. Lemme know!

[2022-05-06 01:31] #626 closed

[2022-05-06 01:56] lread commented on #619
Ah... this will be good to have, but `npx tsc` is currently returning an error:

[code]

Hmmmm... `blurb, origin, score` looks a bit familiar, I think I caused that! 🙂

I had a quick look, and maybe I could quiet the error, but I'm thinking a more experienced hand could do what looks like maybe some necessary cleanup?

[2022-05-06 02:23] corasaurus-hex commented on #619
oof :(

I'd add a `// @ts-ignore` on the line above that for now

[2022-05-06 02:24] corasaurus-hex commented on #619
I mean, I'm aware of that issue but it's a huuuuuge pain to fix.

[2022-05-06 02:34] lread commented on #619
Does it mean a big rewrite?
Is the general design amiss?
(I'm not familiar with code, and not familiar at all with TypeScript).

[2022-05-06 02:36] corasaurus-hex commented on #619
Essentially the needs of different search fields have outgrown the abstraction we have there. Teasing it all apart is pretty painful. I wonder if instead of fixing it it isn't the right time to bring in some cljs?

[2022-05-06 02:38] lread commented on #619
Yeah maybe. I think cljs would probably be more approachable to more Clojurians.

[2022-05-06 20:28] lread opened #628 "Consider passing API analysis when analysis for only one language succeeds"
## Currently
Cljdoc will automatically try to understand what languages a library supports based on the source files included in the library (`.clj`, `cljs`, `.cljc`).

## But...

I have seen more than one case of Clojure analysis of a library passing and ClojureScript analysis failing. In these cases, we fail API analysis.

As @seancorfield suggested in #457

## So...

I think this is a good idea

[2022-05-07 15:05] lread commented on #619
Hmm... I'm reading through TypeScript docs.

@corasaurus-hex I can take a crack at cleaning this up properly-ish if you are willing to review my PR. 🙂

[2022-05-09 13:40] #619 closed

[2022-05-16 13:44] lread opened #630 "Docset search not returing babashka.fs/which var"
## Reproduction

I bring up [babashka.fs in cljdoc](https://cljdoc.org/d/babashka/fs/0.1.6/api/babashka.fs) and type `which` into the the search box.

## Expected Behavior

Search returns `babashka.fs/which`

## Actual Behavior

Search returns no result

## Diagnosis

I guessed that maybe stopwords were at play and [this seems to be the case](https://github.com/weixsong/elasticlunr.js/blob/be7fdaa

[2022-07-07 17:18] lread commented on #31
Sounds good to me @IGJoshua! See point 8 of #459 which suggests a `cljdoc/` prefix.

[2022-07-08 09:07] esuomi opened #637 "Support for Codeberg repository hosting"
Originally from Clojurians Slack:

I'm not familiar with cljdoc's internals, so maybe this works out of the box, maybe it won't?

[2022-07-09 14:05] lread commented on #637
And so long as URL access to raw/blob formats is the same as GitHub.

I have a little muckabout project I use for this kind of testing.
If nobody beats me to it, I'll give it a whirl sometime soonish.

[2022-07-09 14:06] lread commented on #637
Oh... and we might do vendor-specific icons for links back to scm.

[2022-07-16 21:05] lread commented on #637
Just tried it out

### Good
general import works

### Ok

#### icon
looks like we default to a generic icon for SCMs we do not have an icon for, we could replace the generic icon with a codeberg icon.

We tend to get icons from: https://github.com/blairanderson/microicon/blob/master/icons.md
Which does not have a codeberg icon.
But maybe we could just use include this little guy in our assets:
htt

[2022-07-16 23:19] corasaurus-hex commented on #630
Closed via https://github.com/cljdoc/cljdoc/pull/631

[2022-07-16 23:19] #630 closed

[2022-07-17 20:32] lread commented on #637
I was curious so I grabbed a copy of the current cljdoc production database and reported scm url hosts:

[code]

That 1 codeberg project is my experiment.
- Leiningen team have not made their first lib release after switching to codeberg yet
- Verified against http://clojars.org/repo/feed.clj.gz, it too only has 1 codeberg project

Also interesting is that a few people point to what seems to be th

[2022-07-22 06:42] IamDrowsy opened #642 "Analyizer does not fetch deps from repositories of other deps"
One of my projects ([cloudship](https://github.com/iamdrowsy/cloudship)) is now using a dependency ([one-time](https://github.com/suvash/one-time)) that fetches on of its dependencies from another repo ([jitpack](https://jitpack.io)).

As this is mentioned in the [project.clj of one-time](https://github.com/suvash/one-time/blob/main/project.clj), generating the [docs ](https://cljdoc.org/d/one-tim

[2022-07-22 12:52] lread commented on #642
Thanks for raising this issue @IamDrowsy!

Cljdoc analyzer uses [clojure.tools.deps.alpha](https://github.com/clojure/tools.deps.alpha) to resolve dependencies.
I think you bumped into [TDEPS-46](https://clojure.atlassian.net/browse/TDEPS-46).

And your workaround is what TDEPS-46 recommends as a workaround.

As for actionable items, I think making some mention of how deps are resolved in our [doc

[2022-07-22 21:48] lread commented on #637
Ok, so the codeberg icon is designed, as far as I can tell, for a non-white background.
It just does not show up on a white background.
Cljdoc uses a white background.

Perhaps I'll, at least for now, just use the gitea icon for codeberg. We shall see.

[2022-07-22 21:57] lread commented on #637
Oh wait, even though I think b&w is better we could use the codeberg favicon.svg instead:

https://codeberg.org/Codeberg-Infrastructure/build-deploy-gitea/src/branch/codeberg-1.16/codeberg-favicon.svg

[2022-07-23 13:35] IamDrowsy commented on #642
Hi @lread,

thanks for your answer.
Of course it would be nice to have it mentioned in the docs, but I skimmed through them and found no obvious place to add this.
For me, your anwser is sufficient and having this closed issue for reference is fine.

So feel free to close this issue without any further actions, if you want.

[2022-07-23 16:02] lread commented on #642
I found a [good place](https://github.com/cljdoc/cljdoc/blob/master/doc/userguide/for-library-authors.adoc#getting-dependencies-right) to add a tip.

I shall follow up and do it. 🙂

[2022-07-23 21:13] #637 closed

[2022-07-23 21:58] #642 closed

[2022-07-25 11:05] cloojure commented on #444
Hi - Any thoughts on moving this forward?  I just noticed another instance of a function being silently elided from the docs (in this instance `tupelo.java-time/->Instant`, which coerces any time-like value to a `java.time/Instant` object)

[2022-07-25 21:22] lread commented on #444
Yeah, I suppose I could take a stab at it.
I think [my idea might work for most cases](https://github.com/cljdoc/cljdoc/issues/444#issuecomment-1019591857). I'll explore it a bit deeper to see if it has legs.

[2022-07-26 23:52] lread commented on #444
Had a little look.

## Current understanding
My understanding is this:
1. For the record `Foo`, cljdoc wants to exclude `->Foo` and `map->Foo`.
2. For the type `Bar`, cljdoc wants to exclude `->Bar`.

Cljdoc is succeeding at this, but it is also, (the reason this issue was raised), excluding vars not associated with a defrecord or deftype due to simplistic exclusion pattern matching.

## Observati

[2022-07-29 03:14] lread opened #645 "Consider not including deftype and defrecord elements in docs"
## Currently
While looking into #444, I noticed that:

- A `defrecord MyRecord` will be included in API docs as `MyRecord`.
- A `deftype MyType` is included in API docs as `MyType` for ClojureScript only.

## History
I think it was probably me, some time ago, noticing `MyRecord` returned by the ClojureScript analysis, that added some compensation to infer the same for Clojure.

I did not notice `M

[2022-07-29 11:38] metasoarous opened #646 "Support for zeal docset export/download"
The cljdoc.org website mentions support for offline docsets for dash & zeal, and indeed there is some documentation about downloading docsets here:

https://github.com/cljdoc/cljdoc/blob/master/doc/docsets.md

However, in other places it's suggested that zeal support is underway but not necessarily functional:

https://github.com/cljdoc/cljdoc/blob/master/doc/userguide/for-users.md#offline-docs

C

[2022-07-29 19:28] lread commented on #646
Hi @metasoarous! Thanks for raising the issue.

I'm on the cljdoc dev team but other than trying to ensure that I have not broken download docs with my changes, I've not used them with Zeal nor Dash.

If I remember correctly @holyjak is an enthusiastic Dash user - and maybe also @martinklepsch?

I do see some talk about Zeal in our [cljdoc Slack channel](https://clojurians.slack.com/archives/C8V0B

[2022-07-29 19:48] holyjak commented on #646
👍

[2022-07-30 22:42] lread commented on #444
Gonna for option 2 for now.

[2022-07-30 23:55] #444 closed

[2022-07-30 23:55] #645 closed

[2022-07-31 00:39] lread commented on #646
So I finally tried out Dash. Pretty cool!

It has custom 3rd party support for cljdoc:

![image](https://user-images.githubusercontent.com/967328/182004749-6e475472-f359-45f3-ba70-53286d8e9ade.png)

I don't see this kind of support in Zeal.
There is a concept of "feeds" and they do support the Dash docset format.
Some interested Zealite would have to dig into how all this works.

[2022-07-31 16:37] lread commented on #444
@cloojure, this fix is now live.
I rebuilt tupelo docs, it seems to work fine.
Lemme know if I'm right.

[2022-08-01 23:04] metasoarous commented on #646
Thanks for the quick follow up @lread!

I did a little more research after posting, and found out, as you did, that there's a third party source for cljdoc.org docsets, as well as the fact that Zeal allows for adding Dash "feeds". I think all I need is a url that points to the Dash docset, which I'm guessing is whatever url the "Clojure Docsets" source points to in your snapshot above. Any idea wh

[2022-08-01 23:49] lread commented on #646
I could be wrong, but I think there'd be some work to support Zeal.

Dash describes cljdoc as a "Third-Party Documentation Source".
So I imagine that the Dash app has special support to convert cljdoc downloaded zip files to Dash docsets.
I would guess this happens in-app and not on some server somewhere.

It would be nice to understand how this works so that we don't accidentally break Dash suppo

[2022-08-03 21:49] lread commented on #646
Actually... what the heck, I'll fire off an email to the author of Dash.

[2022-08-04 00:08] lread opened #647 "docs: dev guide: describe Dash interface points"
While researching #646, I realized we haven't documented what Dash expects for the search and download of cljdoc docsets.

I reached out to the author of Dash with some questions.

He was super helpful.

I'll follow up with documentation.

[2022-08-04 00:15] lread commented on #646
Bogdan, the author of Dash was super helpful.

I was right about this:

I would guess this happens in-app and not on some server somewhere.

Bogdan is happy having Dash convert our cljdoc docset zip file to a Dash docset.
It lets him tweak things.
So if we decide to generate a Dash docset, it will be in support of Zeal, not Dash.

For Zeal feeds, he shared:

[2022-08-05 22:19] #647 closed

[2022-08-09 23:24] lread commented on #646
# Explorations

So... as far as I understand it, a "feed" applies to a single library docset.
Here's a bunch of them: https://zealusercontributions.vercel.app/

The XML version seems to work in the Zeal app, the JSON version did not for me.
Here's a pretty print of the Zig feed https://zealusercontributions.vercel.app/api/docsets/Zig.xml
[code]
If we crack open one of the Zig.tgz files we see:

[c

[2022-08-12 23:08] cloojure commented on #444
Hi - Just saw this after deploying a new release.  It seems to be working as desired.
Thank you,
Alan

[2022-08-12 23:09] lread commented on #444
Glad to hear it @cloojure, thanks for following up!

[2022-08-22 02:08] danielcompton opened #651 "Only include latest (canonical) URL in sitemap"
https://developers.google.com/search/docs/advanced/sitemaps/build-sitemap?hl=en says

This will help with bringing down the size of the sitemap, and perhaps hint to Google about new pages that should be crawled.

At the moment the top Google result for Malli is v0.2.1:

<img width="805" alt="Screenshot of Safari (22-08-22, 2-01-06 PM)" src="https://user-images.githubusercontent.com/811954/18582493

[2022-08-22 04:01] lread commented on #651
Hi @danielcompton thanks for raising this one!

We do have an existing issue #397 with an open question and it seems like maybe you've just given us some guidance here.

Are you wanting to do a PR here?
If not, I'll get to it sometime soon.

[2022-08-24 09:14] danielcompton commented on #651
If I get the chance I will make a PR, but happy for you to do it if you get to it first :)

[2022-08-25 16:52] lread commented on #651
I'll take a stab at this one @danielcompton.

[2022-08-25 19:12] #397 closed

[2022-08-25 19:12] #651 closed

[2022-08-30 14:40] lread opened #654 "When running locally from docker can get FileNotFoundException"
## Currently
We have some [docs on how to run cljdoc locally](https://github.com/cljdoc/cljdoc/blob/master/doc/running-cljdoc-locally.adoc).

Some people (me included) run cljdoc locally to preview what their project docs will look like.

## Symptom
@KingMob (thanks!) noticed that he sometimes suffers a `FileNotFoundException` when ingesting (aka importing aka building) docs via the cljdoc docker

[2022-08-30 15:03] lread opened #655 "docs: Running locally is sometimes hard to follow"
@kingmob brought up a good point on Slack.

My response:

I really struggled when I wrote that doc. And I struggle when I read it. 🙂
I frankly find the whole previewing locally workflow overly complicated, but we can start with making existing docs easier to follow. I’ll create a separate git issue.

Next action: I'll see what I can do.

[2022-08-30 18:23] #654 closed

[2022-08-30 21:39] #655 closed

[2022-08-30 23:04] lread commented on #620
Reached out: https://github.com/juji-io/datalevin/pull/139

[2022-08-30 23:46] lread commented on #620
Done! Next release of datalevin should look beautiful on cljdoc!

[2022-08-30 23:46] #620 closed

[2022-08-30 23:48] lread commented on #457
Since we seem to be all good, gonna close this one @seancorfield. Please feel free to re-open if you see a reason to.

[2022-08-30 23:48] #457 closed

[2022-08-30 23:50] lread commented on #591
I think when adding a config for these tools is the time to document them. But am totally fine with closing this issue without docs too.

[2022-08-31 00:01] #407 closed

[2022-08-31 01:10] corasaurus-hex commented on #620
🚀🚀🚀🚀

[2022-08-31 22:05] #586 closed

[2022-09-02 18:25] corasaurus-hex commented on #628
It feels like this indicator would be in the same vein as https://github.com/cljdoc/cljdoc/pull/660

I wonder if we shouldn't list both the doc discovery issues and partial build issues in the same place.

[2022-09-02 18:26] corasaurus-hex commented on #617
We'd probably want to make the images deep-linkable then, too? That way when you click through to the result you will be taken straight to the image.

[2022-09-02 18:31] lread commented on #617
Oh, maybe! Hadn't given it much thought (in other words, after some thought we might decide: nah).

I suppose it might not be obvious what you'd matched on because alt text is not always visible.

And if a term matches alt text and some other text, would you then prefer the image?

[2022-09-02 18:49] lread commented on #628
Yeah, I think that probably makes sense.

[2022-09-02 18:50] #270 closed

[2022-09-02 23:00] lread commented on #369
Was thinking of getting to this todo, and thought I should first determine what relies on it:
## Usages

1. returning all docsets via https://cljdoc.org/versions - I either did not realize this existed or forgot about it. Do we really need this?
1. returning versions for artifact with a list of other docsets via, ex: https://cljdoc.org/versions/amperity/greenlight
1. returning all docsets for a gr

[2022-09-02 23:25] lread opened #662 "Clojars release monitor overwrites versions with latest version only"
## I was confused

I was very confused by only seeing the latest release for a clojars artifact, when I saw this helpful comment:
https://github.com/cljdoc/cljdoc/blob/a5875291141ab298ea0ae61fc998c2bdea01be15/src/cljdoc/server/release_monitor.clj#L73-L80

## So...
I don't think this should be too hard to fix?
And would save me and others from getting confused in the future.

## Next Steps
I'll tak

[2022-09-03 00:14] lread commented on #662
Related: Hmmm.... when I described the database in our dev docs, I wrote that the `releases` table describes successful `builds`. That's not correct. From what I can tell, the `releases` table lists known artifact releases on clojars discovered by the release monitor.

Can't remember how maven central artifacts get discovered, will understand that and come back to edit this.

[2022-09-03 15:41] lread opened #663 "bug: api source link not working for vars in clojure-lsp.api namespace"
## Problem
Reported here: https://github.com/clojure-lsp/clojure-lsp/issues/1225

![image](https://user-images.githubusercontent.com/967328/188277983-03e44512-9742-4c7e-aa70-25620aaa0d14.png)

## Observation
Other namespaces seem to be fine.

## Next step
I'll take a peek and PR a fix.

[2022-09-03 20:10] lread commented on #663
Ah. So cljdoc is trying to map the sources it found in the jar file back to GitHub.

In the jar it sees `/clojure_lsp/api.clj`.

Cljdoc does not know where a project stores its sources on GitHub, for clojure-lsp we have 2 potential matches:
- `/lib/src/clojure_lsp/api.clj`
- `/lib/src/pod/clojure_lsp/api.clj`

The current rule for resolving more than 1 match is to take the first file that sits und

[2022-09-03 20:33] #663 closed

[2022-09-03 23:36] #662 closed

[2022-09-04 21:01] lread commented on #369
So, I think the `all=true` param is to support Dash, but is available to be rendered as HTML on the cljdoc site. Ex: https://cljdoc.org/versions/com.atomist/api-cljs?all=true

I think we could modify the HTML version descriptive text to be more clear.

It currently always reads:

I think we could instead say:

And when `all=true` is specified:

[2022-09-05 20:09] #369 closed

[2022-09-06 22:53] lread commented on #31
Ok, I'm going to take a stab at this one.

Thanks to @IGJoshua and @seancorfield for some initial feedback on Slack.

Some notes on my general plan:

## Current Mechanics
At build time, for articles, cljdoc:
- slurps and stores articles (either auto-detected or explicitly listed in cljdoc.edn doc tree)
- saves a list of all git files at jar-specified-revision, these are used to decide how adjust l

[2022-09-07 18:23] lread opened #669 "Turf telegram support"
## Currently
The cljdoc server sends some events to [Telegram](https://telegram.org/).
For example, during library analysis, it sends a message to telegram when a `cljdoc.edn` is found.

## But
Although these events might have been interesting to developers during the earlier days of cljdoc, nobody is listening anymore. (I double-checked with @martinklepsch that this is so).

## So
In order to red

[2022-09-07 19:35] #669 closed

[2022-09-08 23:01] lread commented on #31
On second thought a tag format of `cljdoc-<version>` is clearer than `cljdoc/<version>`.
I liked the `/` version because it looked like a clojure namespaced thing, but these tags will end up in URLs and will be easier to see and reason about if they do not contain `/` which is also a path separator char.

[2022-09-09 13:16] lread opened #671 "Consider turfing support for fetching all versions of all docsets"
## Currently
The cljdoc web site and its API support returning all all versions of all built (or optionally, buildable) docsets.

I noticed this while working on #369.

## But...
This, as you can imagine, is a heavier call.

## And...
Is it useful to anyone?

It might have been used by the Dash offline reader at one point, but this is no longer the case.
I confirmed with the author of Dash that th

[2022-09-09 13:44] lread opened #672 "Consider reworking rebuild support"
## Currently
Cljdoc offers the ability to rebuild docs via an almost hidden rebuild link.

Why did we choose to make it almost invisible? I'm pretty sure it is:
- because we did not to draw attention to it
- because it is not relevant/appropriate for most cljdoc users
- and because it invokes a significant amount of work

## So...

### Rate limit this heavy work?
@corasaurus-hex suggested maybe we

[2022-09-10 19:42] lread opened #673 "Review snapshot builds for gitea url schemes"
## Currently
Cljdoc has this concept of hitting the default branch HEAD at render time for SNAPSHOT builds that do not contain an `<scm>` `<tag>` in their `pom.xml`.

## But..
I am not sure this will work at render time for gitea schemed URLs (which includes codeberg).

Codeberg's URL scheme is not vague about tags vs commits vs branches.

For example notice `/src/tag/` `/src/commit/` and `/src/br

[2022-09-11 15:37] lread opened #674 "Review git repo analysis git revision - build vs render time"
## Currently

### At build time
When cljdoc is analyzing a library's git repo, looks for:
- pom-revision - the artifact's pom `<scm>` `<tag>` (which can be anything comittish, long sha, tag, etc)
- version-tag - for artifact version `1.2.3` is looks for git tag `1.2.3` else `v1.2.3`

For analysis, if the pom-revision is not specified, cljdoc defaults to version-tag.

### At render time
When cljdoc

[2022-09-11 21:33] #31 closed

[2022-10-05 17:14] lread opened #682 "Consider adding Eastwood linting"
## Currently
We lint with clj-kondo. I love it.

## But..
[Eastwood](https://github.com/jonase/eastwood) can sometimes find a thing or two that clj-kondo does not.

It is quite nice, for example, for finding reflection calls. If we care to find those.
It will also point out calls to deprecated Java.

## Soo...
I think I might add Eastwood to our listing suite.

[2022-10-06 14:25] lread commented on #682
The Clojure docs [advise](https://clojure.org/reference/java_interop#typehints):

But when I've added new code to cljdoc I've often included `*warn-on-reflection*` and the resulting type hints. I do find they help, with more than performance. Not only do they tell Clojure what Java class to operate on, but they also remind me what 3rd party Java class I'm operating on.

[2022-10-06 22:32] #682 closed

[2022-10-06 23:22] corasaurus-hex commented on #682
![](https://media.giphy.com/media/XuBJvrKHutnkQ/giphy.gif)

[2022-10-10 22:00] lread commented on #591
I'm gonna close this one! Please re-open if you disagree.

[2022-10-15 00:38] lread opened #689 "Consider Polylith"
## Currently
We have our main source repos:
- cljdoc
- cljdoc-analyzer
- cljdoc-shared

When cljdoc-shared is updated cljdoc and cljdoc-analyzer are expected to update to in synch.
Managing multiple repos is a bit awkward.

Extra repos we have are:
- builder - to drive builds on circleci
- cljdoc-check-action - github action to verify a library will pass analysis
- cljdoc-exerciser - a repo we use

[2022-10-25 15:37] lread opened #695 "Lucene index can suffer LockObtainFailedException"
## Currently
We use Lucene to index available Clojure libraries (sourced from Clojars and Maven central).

Our usage pattern is to open a Lucene index writer every time we want to apply a change to the index.

## But...
Lucene will fail with a `LockObtainFailedException` if multiple writer instances are attempting to write to the index at the same time.

I noticed this happening at startup during

[2022-10-26 16:23] lread opened #698 "Rendering of lib page left nav slightly off on Linux and Windows"
I've recently moved from macOS to Linux. This helped me to notice some rendering issues.

## macOS - Firefox
From my ancient circa 2009 MacBook Pro. Looks good from Firefox.
![Screen Shot 2022-10-26 at 12 16 52 PM](https://user-images.githubusercontent.com/967328/198080870-a0da753b-7702-4ef3-bb1e-05cef19b0fea.png)

## Linux - Firefox
Firefox 106.0.1:
![Selection_001](https://user-images.githubuser

[2022-11-01 20:58] lread commented on #89
To summarize our chat on Slack: we agreed that users could be confused if library a sorted one way and library b sorted another.

Let's go over some options for implementation.

I've marked my thinking/proposal for an initial release.

1. User sets sort order via UI (design TBD)
2. Library author: choices:
   1. :heavy_check_mark: has no control over sort order
   2. :heavy_multiplication_x: can s

[2022-11-03 11:41] martinklepsch commented on #89
Hey @lread 👋  Your proposal makes a lot of sense to me. I feel fairly strongly that this should be a user choice, not a library author choice. A consistent documentation viewing experience is a main pillar of cljdoc :)

[2022-11-03 12:26] corasaurus-hex commented on #89
It absolutely should be a user choice and not a library author's choice, and the default should be what's most predictable and consistent. An author could recommend different sorting in some way, perhaps, but defaults should be what users expect.

[2022-11-14 19:58] #698 closed

[2022-11-20 18:00] lread opened #701 "The hickory.core namespace is returning "An exception occurred, sorry about that!""
## On Slack
@slipset reported that https://cljdoc.org/d/org.clj-commons/hickory/0.7.2/api/hickory.core was returning an error for him.

## Repro
I tried the link and saw the following rendered by cljdoc

## Initial look
Currently, [cljdoc is intentionally throwing an exception when an item occurs under multiple platforms and that item does not match for all platforms (at least for protocols, anywa

[2022-11-20 20:43] lread commented on #701
## Diagnosis
Ok, seems to be restricted to how cljdoc handles protocols.

### Without Protocols
Given a dummy project with simple fns:

`hello_world/ns1.clj`
[code]

And
`hello_world/ns1.cljs`
[code]

After ingesting, cljdoc will produce the following API docs:
![image](https://user-images.githubusercontent.com/967328/202924775-6023f929-59a6-4b5f-a9f1-49cdb53503de.png)

So cljdoc does handle and p

[2022-11-21 01:16] lread commented on #701
## Current Code
After API analysis, cljdoc saves namespaces and vars to the database.
It creates a var row for each unique var name/platfom.

It does not dig into protocol members at database save time.
A protocol definition will have one row per protocol name/platform.
Its members are nippified together into the `vars` table `meta` column.

As described in previous comments, if a protocol's membe

[2022-11-21 20:19] lread opened #702 "Consider indicating when a var differs between platforms in var list"
## Currently
Cljdoc indicates the dominant platform for a namespace and annotates all vars that differ from the dominant platform.

For example, if most functions are in defined in both Clojure and Clojure it will indicate such, and annotate each var that differs. If a var is only defined in Clojure, it will mark it as such and if a var is only defined in ClojureScript it will mark it as such.

Ex

[2022-11-21 20:28] lread opened #703 "Normalize styling around platform differences for docstrings and arglists in var details"
## Currently
Here's an example of how cljdoc will show a var with arglists and docstrings that are different for Clojure and ClojureScript

![image](https://user-images.githubusercontent.com/967328/203151049-ca865146-cb13-4fdf-a805-1bea71d691f1.png)

## I think...
That we should use consistent styling for both for a clearer presentation.

I think the arglists styling is clearer and we could adopt

[2022-11-22 06:58] KingMob commented on #275
Just ran into this issue today. I upgraded [True Grit](https://github.com/KingMob/TrueGrit), my Resilience4j wrapper lib, to use the new 2.0.0 version of R4j, and cljdoc broke, because 2.0.0 now requires Java 17.

The last comment was over a year ago...any news on this issue?

[2022-11-22 11:37] martinklepsch commented on #703
I'm a bit confused by the

bit. The rest of the issue read like you'd prefer to have the same hanging clj/cljs markers as for docstrings?

Either way I agree that making this consistent is a good idea 👌

[2022-11-22 13:12] lread commented on #703
Thanks for asking about this @martinklepsch!

Yeah, instead of the little "clj" and "cljs" prefix for docstrings, I was thinking of matching the style of the arglists header.

So for the above we'd instead have:

[code]

I'm toying around with it a bit. The headers are a bit wordy in some cases and steal away too much attention from the content.
This might be less header-noisy:

[code]
If only the

[2022-11-22 15:06] martinklepsch commented on #703
Ah I think I didn't read this properly earlier 😅  I think what you outlined sounds good to me!

[2022-11-22 23:54] lread commented on #703
Ok. Simple things take a while, yeah? :slightly_smiling_face:

I've played around more and think the short-forms (clj and cljs as opposed to the longer header text) are a better choice.
They are consistent with other parts of the UI.
They also tell the story without so much text.

I've added some more platform-related code to cljdoc-exerciser.
The "Before" is what things currently look like and th

[2022-11-23 03:45] KingMob commented on #275
Hmm, well, this is a problem that will only get worse over time, not better.

It seems there was a lot of discussion centered around supporting esoteric JDKs, dealing with Circle Docker images, etc.

Instead of letting the perfect be the enemy of the good, what about starting with a shortlist of allowable JDKs, like the ones with LTS support, and letting people pick one with a flag in cljdoc.edn?

[2022-11-23 05:49] lread commented on #275
The concern is that we'll have to support this feature forever.
And we want to make sure what we implement is future-proof.

But yeah, starting small and vague is probably safe.

Perhaps we could start with `:cljdoc/jdk-version` (in `doc/cljdoc.edn`) and only support only values `8` and `17`.
Cljdoc analysis would choose the specific version (likely the latest release) and jdk vendor (probably tem

[2022-11-23 06:53] corasaurus-hex commented on #703
ooooh that's a huge improvement, Lee!

[2022-11-23 11:46] esuomi commented on #275
An alternative to consider: Tools such as [jenv](http://jenv.be/) use a `.java-version` file at the root of the project to describe the version of JDK the project relies on. Since this allows for ecosystem friendly, build tool independent way of expressing the desired version(*) I'd rather see that being used instead of putting it into specific tool configuration.

*) There's the obvious thing tha

[2022-11-23 12:57] lread commented on #703
Thanks so much for the feedback @corasaurus-hex, I shall ship it sometime soon.

[2022-11-23 13:09] lread commented on #275
It is so nice that this issue is getting some interest from the community of late!
Thanks folks, the issue that squeaks is typically the one that gets attention.

@esuomi I think your idea is interesting. But... different tools use different conventions.  For example sdkman uses `.sdkmanrc`. And... tools and conventions can change.

So, I'm thinking that depending on our own config might not be as

[2022-11-23 15:22] lread commented on #703
Sweet! Glad you like it too, @martinklepsch!

[2022-11-23 15:31] martinklepsch commented on #275
We could also look at different files with a clear order of precedence.

But I think the challenge still is less the question of how to specify the version and rather about "how do we run build jobs with specific JDK versions?"

I think if we had a prototype of our CircleCI `AnalysisService` that allows running cljdoc analysis under a specific JDK then the question of how to specify this version w

[2022-11-23 16:07] lread commented on #275
Great to see you have some time for cljdoc today @martinklepsch! ❤️

Yeah true. But the interface (config) is still very important. If we decouple it from the implementation this frees us to change the implementation when we want/need to.

For the implementation, I did experiment a while ago with telling CircleCI to use different docker images for different SDKs. If I remember correctly, I switche

[2022-11-23 16:41] martinklepsch commented on #275
I'd be fine with restricting this during local development and throwing an exception when trying to analyze a project that requires a different JDK version than the one cljdoc is running in?

Maybe making that decision would allow for progress on this in a way where we unblock 99% of users (i.e. those that don't run cljdoc locally).

Thanks, great to jump in here and there & thanks for your pushin

[2022-11-23 16:52] lread commented on #275
That sounds reasonable to me.
Dunno, maybe log a warning instead of throw an error?

I'll likely give sdkman a quick whirl anyway just to understand more how/where it would fit in for local and ci use cases.

But if I get bogged on that, I can fall back to CI solution I experimented with a while ago.

[2022-11-23 22:00] #703 closed

[2022-11-23 22:46] martinklepsch commented on #275
If you want we could pair on it, could be fun 🙂 Not that you'd need me, more as a random opportunity to hang out 😄

[2022-11-24 09:47] KingMob commented on #275
Weirdly, I ran cljdoc Docker locally on True Grit and had no problems whatsoever. It was only when I deployed, that the _production_ cljdoc complained.

I just spun the container up again to check, `docker exec`ed a shell, ran `java -version`, and got my local Java version, Temurin-17.0.4.1+1.

I'm not explicitly doing anything with java, just `docker run --rm --publish 8000:8000 --volume /Users/m

[2022-11-24 13:53] lread commented on #275
Thanks @KingMob, for your persistence here.
Yeah you are right, there is an inconsistency in JDK versions when running locally vs prod.

In production we do not run API analysis on the same machine as the cljdoc web server.
It is farmed out to CircleCI.
We do this this because API analysis runs unknown code and is technically unsafe.

When running locally this isolation does not happen.
Analysis i

[2022-11-24 13:57] lread commented on #275
Sounds like fun, but this old boy has never e-paired before. So setup might be a challenge?
Something technically less challenging, but fruitful might be to review current issues together. Maybe we can close out some old stale ones and rediscover interesting ones.

[2022-11-24 14:00] martinklepsch commented on #275
I think just bumping to JDK 17 is an interesting idea we could try.

[2022-11-24 14:20] lread commented on #275
I can do this sometime today.  I will also get us off that CircleCI legacy docker image and get rid of this warning:
<img width="1073" alt="image" src="https://user-images.githubusercontent.com/967328/203806419-154993d7-1a28-4223-a89b-ec328f10785f.png">

[2022-11-24 16:12] lread commented on #275
Note for the future: an example breakage from upgrading a JDK: moving to JDK19 introduces a Clojure interop issue for Thread/sleep. Example from etaoin: https://github.com/clj-commons/etaoin/issues/503

[2022-11-24 23:01] lread commented on #701
I'm going for option 2: break down at render time.

[2022-11-24 23:36] lread opened #707 "Consider API presentation of protocols"
## Currently
Given a namespace with:

[code]

For the list of clickable vars, cljdoc will show:

- `afn`
- `BooYa`

And will only show `fn1` and `fn1` in the var details for `BooYa`

## But...
As a user of a library, I'm interested in seeing what I can use.

## So maybe...
We should also display `fn1` and `fn2` in the list of vars.

The above would become:

- `afn`
- `BooYa`
  - `fn1`
  - `fn2`

T

[2022-11-24 23:41] lread commented on #702
I've been playing with this a bit.
I think maybe `diff` is easier to glance at than`clj!=cljs`.

Also: Repeating the platform annotation superscript in the var details would be helpful.
I'll probably scope that in.

I'll plunk screenshots here for review sometime soon.

[2022-11-25 19:43] lread commented on #701
Ok, some screenshots.

## When protocols are the same for all platforms:

The only change we see here is a tightening up of whitespace:

![cljdoc-plat-same](https://user-images.githubusercontent.com/967328/204043811-26817f82-b5c9-40f5-8a30-5168147a9d11.png)

## When protocols docs differ for platforms:
Screenshots are from new examples in cljdoc-exerciser.

When just the protocol docs differ for p

[2022-11-25 20:26] #701 closed

[2022-11-26 19:02] lread opened #709 "Handle remaining platform specific variations"
We've done some good work in getting cljdoc to show platform differences for vars and namespaces.
By platform differences, we mean an API element that is defined one way for Clojure and differently for ClojureScript.

## Done
For namespaces we've covered:
- docstring

For vars we've covered
- docstring
- arglists
- protocol members
  - docstring
  - arglists

## Todo
We also currently render, but

[2022-11-26 19:54] lread commented on #702
Ok. I've decided `diff` for the annotation text is not a good choice.
It is too vague and therefore likely confusing.

For a var that is available in both Clojure and ClojureScript platforms, we currently annotate with `clj/s`. I think when there are any rendered differences for those platforms I'll instead show `cljs/s*`. The `*` is subtle but does indicate a closer look is warranted.

Examples a

[2022-11-26 21:28] corasaurus-hex commented on #702
What do you think about using a diff icon from fontawesome instead of a `*`?

<img width="680" alt="Monosnap Font Awesome 2022-11-26 15-25-01" src="https://user-images.githubusercontent.com/130/204109574-83c65117-bbbb-469f-bb39-21db3cb6a84c.png">

It might not look very good or it might look great? I think for developers, at least, that would be meaningful in the context of `clj/s`

[2022-11-26 21:29] corasaurus-hex commented on #702
Oh, it's probably helpful if I include a link https://fontawesome.com/search?q=diff&o=r&s=thin%2Clight%2Cregular%2Csolid

[2022-11-27 03:29] lread commented on #702
Ah... @corasaurus-hex! Thanks so much for taking the time to review and for the idea!

I'll give the diff icon a whirl soon and share what it looks like.

[2022-11-27 21:09] lread commented on #702
@corasaurus-hex, yoiks, I'm confused by [allowable usages of fontawesome](https://fontawesome.com/plans).
I think the diff icons you found are part of the "pro plan".

Maybe I'll hunt around a bit for something that seems more understandably free.

[2022-11-27 21:21] lread commented on #702
Ah... maybe this will do for an experiment: https://icons.getbootstrap.com/icons/file-earmark-diff/

[2022-11-27 21:40] corasaurus-hex commented on #702
This might help: https://github.com/FortAwesome/Font-Awesome#license

[2022-11-27 21:42] corasaurus-hex commented on #702
And in the case of the icons: https://creativecommons.org/licenses/by/4.0/

[2022-11-27 22:52] lread commented on #702
So what's with the confusing messaging around a pro plan fee and pro icons?
As a fontawesome newb, the messaging makes me shy away from fontawesome for sure.

Anyhoo... let's carry on with the experiment.
I'll use [bootstrap icons](https://icons.getbootstrap.com/), they are very similar.
I've used default coloring for icons, just trying to get a feel for how they look before any fine tuning.

## O

[2022-11-27 23:01] lread commented on #702
Fwiw, rendering of ≠ on macOS seems more reasonable to me:

![image](https://user-images.githubusercontent.com/967328/204164413-ecd70c6e-65d8-4358-bc07-344623eadd64.png)

[2022-11-29 13:52] corasaurus-hex commented on #702
sorry I missed all of this since my comments 😅

[2022-11-29 13:59] lread commented on #702
Hey, no problemo at all, and, as always, your feedback and ideas are very much appreciated!

[2022-11-30 17:52] lread commented on #275
Feedback from Slack: for jdk19 it will probably be a good idea to automatically include `--enable-preview` java opt. Folks will likely be using preview features in jdk19.